name: FastAPI CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    name: CI - Test, Lint, and Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest flake8

      - name: Run tests
        run: pytest -v

      - name: Lint
        run: flake8 app

      - name: Build Docker image
        run: docker build -t myfastapi:latest .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker tag myfastapi:latest ${{ secrets.DOCKERHUB_USERNAME }}/myfastapi:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/myfastapi:latest
